<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="assets/style.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <h1>444kuda</h1>
      </div>

      <nav>
        <ul>
          <li><a href="/">MAIN</a></li>
          <li><a href="#contact">CONTACT</a></li>
          <li><a href="#help">HELP</a></li>
        </ul>
      </nav>

      <div class="tools">
        <% if (user) { %>
        <a href="/profile">Profile</a>
        <form action="/logout" method="post" class="logout-form">
          <button type="submit" value="Log Out" id="logoutbutton">
            Log Out
          </button>
        </form>
        <% } else { %>
        <a href="/login">Log In</a>
        <a href="/register">Sign Up</a>
        <% } %>
      </div>
    </header>
  </body>
</html>
