<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Page</title>
    <link rel="stylesheet" href="assets/style.css" />
  </head>
  <body>
    <div class="logo">
      <h1>444kuda</h1>
    </div>

    <nav>
      <ul>
        <li><a href="#main">MAIN</a></li>
        <li><a href="#contact">CONTACT</a></li>
        <li><a href="#help">HELP</a></li>
      </ul>
    </nav>
    <div class="tools">
      <a href="/login">Log In</a>
      <a href="/register">Sign Up</a>
      <form action="/logout" method="post">
        <button type="submit" value="Log Out" id="logoutbutton">Log Out</button>
      </form>
    </div>

    <div class="main" id="main">
      <h1>444</h1>
      <p>Roblox clothes shop</p>
      <button><a href="/product">BUY PRODUCT!</a></button>
    </div>
  </body>
</html>
