<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main - 444kuda</title>
    <link rel="stylesheet" href="assets/style.css" />
  </head>
  <body>
    <%- include('header.ejs') %>


    <div class="main" id="main">
      <h1>444</h1>
      <p>Roblox clothes shop</p>
      <button><a href="/product">BUY PRODUCT!</a></button>
    </div>
  </body>
</html>
