<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/assets/profile.css" />
  </head>
  <body>
    <h1>Welcome! <% if (user) { %> <%= user.username %> <% } %></h1>
    <form action="/logout" method="post">
      <input type="submit" value="Log Out" />
    </form>
    <div class="info">
      <h2>User Info</h2>
      Username:
      <span><%=user.username%></span>
      <br />
      Email:
      <span><%=user.email%></span>
    </div>
    <div class="passwordChange">
      <h2>Change Password</h2>

      <% if (error) { %>
      <p class="error"><%= error %></p>
      <% } %>
      <form action="/profile/changePassword" method="post">
        <input
          type="password"
          name="oldPassword"
          placeholder="Old Password"
          required
        />
        <input
          type="password"
          name="newPassword"
          placeholder="New Password"
          minlength="6"
          required
        />
        <button type="submit">Change Password</button>
      </form>
    </div>
    <br />
    <div class="deleteAccount">
      <form action="/profile/deleteAccount" method="post">
        <button type="submit" class="delete-button">Delete Account</button>
      </form>
    </div>
  </body>
</html>
